/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/*
.idea
!.gitignore
composer.phar

*.sql

*.php~

src/AppBundle/Entity/Product\.php

src/AppBundle/Repository/Entity/ProductRepository\.php

src/AppBundle/Repository/EntityRepository\.php

src/AppBundle/Repository/ProductRepository\.php
