{% extends 'header.html.twig' %}

{% block sidebar %}
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="{{ path("accueil") }}"><i class="fa fa-dashboard fa-fw"></i> Accueil Dashboard</a>
                </li>

                <li>
                    <a href="#" onclick="return false;"><i class="fa fa-sitemap fa-fw"></i> Tables<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">

                        {% for table in tables %}
                            <li>
                                <a href="{{ path('viewMultipleBankAjax',{'table' : table.Tables_in_symfony_test}) }}"><i class="fa fa-table fa-fw"></i>{{ table.Tables_in_symfony_test|e }}</a>
                            </li>
                        {% endfor %}

                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <!-- Page de contact -->
                <li>
                    <a href="{{ path("contact") }}"><i class="fa fa-envelope fa-fw"></i> Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
{% endblock %}