<!DOCTYPE html>
<html>
<head>
    <title>MMN - No JS</title>
</head>
<body>

<h1>Merci d'activer votre JavaScript</h1>
<p>Ce site à besoin de javascript pour fonctionner, merci de le réactiver et <a href="/">cliquez ici</a></p>

</body>
</html>