<div class="row">
    <div class="col-sm-12">
        <table width="100%"
               class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline"
               id="dataTables-example" role="grid"
               aria-describedby="dataTables-example_info" style="width: 100%;">
            <thead>
            <tr role="row">
                {% for name in column %}
                    <th class="sorting_asc" tabindex="0" aria-controls="table_test"
                        rowspan="1" colspan="1" aria-sort="ascending"
                        aria-label="{{ name }}"
                        style="width: 161px;">{{ name }}
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>

            {% for line in table %}
                <tr class="gradeA even" role="row">
                    {% for name in column %}
                        <td>{{ line.[name].0|e }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>
